<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>

    <title>La abstracción</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>La abstracción</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          La abstracción es el acto de reducir o aislar un elemento u objeto de
          su contexto y analizarlo ignorando los aspectos menos relevantes para
          conseguir sus propiedades, rasgos o características más definitorias,
          facilitando la comprensión de dicho elemento. La base de la
          programación orientada a objetos descansa en esta manera de pensar y
          analizar la realidad que nos rodea.
        </span>
      </div>

      <img src="../assets/asset2.jpg" alt="asset" id="visual_content" />
    </div>
  </body>
</html>
