<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>
    <title>POO</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>POO: Programación Orientada a Objetos</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          La programación orientada a objetos es un paradigma de la programación
          que provee un conjunto de técnicas que permiten la incrementación del
          proceso de producción de software. Este paradigma hace uso de la
          abstracción para la manipulación de conceptos como las clases y
          objetos basados en objetos tangibles o intangibles a la realidad.
          Gracias a esto se aumenta la productividad y propicia muchas maneras
          de abordar proyectos de gran tamaño.
        </span>
      </div>

      <img src="../assets/asset4.png" alt="asset" id="visual_content" />
    </div>

    <div class="topicHeader_container">
      <h1>Historia de la POO</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation"
          >Los inicios de este paradigma de programación se remonta al lenguaje
          de programación SIMULA, desarrollado por Kristen Nyagaard y Ole-Johan
          Dahl en los años 60, el cual fue desarrollado en el centro de
          computación noruego The Norwegian Computing Center.</span
        >
      </div>

      <div class="topicParagraph">
        <span id="topicInformation"
          >Simula implementó por primera vez los conceptos como clases,
          corrutinas y subclases (conceptos vigentes en la POO de hoy en día).
          En la década de los setenta era muy común el problema de que eran
          pocos los sistemas que lograban terminarse, eran muy pocos los que
          cumplían con los requisitos iniciales y no todos terminan cumpliendo
          los requerimientos según lo planificado. El problema consiste en el
          cómo adaptar el software a nuevos requerimientos imposibles de haber
          sido planificados inicialmente.</span
        >
      </div>

      <img src="../assets/asset3.png" alt="asset" id="visual_content" />

      <div class="topicParagraph">
        <span id="topicInformation">
          En realidad el hombre aprende de la experimentación, no de la
          planeación, por lo cual los procesos usados en aquella época iban en
          contrariedad con la naturaleza humana. Por lo cual la programación
          orientada a objetos brindaba estos métodos de experimentación que no
          exigen la planificación de un proyecto por completo antes de escribir
          la primera línea de código, naturalizando así el proceso de desarrollo
          del software.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation">
          A finales de la década de los 70 ’s, científicos del centro de
          investigación en Palo Alto Xerox inventaron el lenguaje Smalltalk, el
          cual dio respuesta al problema anterior (investigar no planificar).
          Smalltalk fue el primer lenguaje orientado a objetos puro de los de su
          tipo, este únicamente utiliza clases y objetos. El autor de la idea
          fue el D. Parnas cuando propuso la disciplina de ocultar la
          información. La idea de Parnas era encapsular cada una de las
          variables globales de la aplicación en un solo módulo junto con sus
          operaciones asociadas, para que solamente mediante estas operaciones
          se podía tener acceso a esas variables.
        </span>
      </div>

      <img src="../assets/asset5.jpg" alt="asset" id="visual_content" />

      <div class="topicParagraph">
        <span id="topicInformation">
          En la década de los 80 ’s, Bjarne Stroustrup de AT&T Labs amplió el
          lenguaje C para la creación de C++ que soporta la programación
          orientada a objetos. En esta misma década se desarrollaron otros
          lenguajes POO como objective C, Common Lisp Object System (CIOS),
          Object Pascal, Ada entre otros. Futuras mejoras en herramientas y
          lanzamientos comerciales de C++ por distintos fabricantes,
          justificaron el enfoque hacia la programación orientada a objetos en
          la comunidad del desarrollo de software.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation">
          En la década de los 90 ‘s, se consolidó la orientación a objetos como
          una de las mejores maneras para la resolución de problemas. En 1996
          surge un desarrollo llamado JAVA (extensión de C++). Su filosofía es
          aprovechar el software existente. Facilitando la adaptación del mismo
          a otros usos diferentes a los originales sin necesidad de modificar el
          código ya existente. Hoy en día la Programación orientada a objetos es
          sin duda el paradigma de programación que más ayuda a la resolución de
          problemas y optimización del desarrollo de software gracias a su
          naturaleza de ensayo y error.
        </span>
      </div>

      <img src="../assets/asset6.jpg" alt="asset" id="visual_content" />
    </div>
  </body>
</html>
