<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>
    <title>La encapsulación</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>La encapsulación</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          El encapsulamiento en la programación orientada a objetos consiste en
          la ocultación y aislamiento de un objeto hacia el exterior, esto
          resultará en que los datos (atributos) del objeto sólo puedan ser
          gestionados mediante métodos definidos de este mismo.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation">
          Para la manipulación de un objeto encapsulado se haría uso de setters
          y getters para modificar y obtener respectivamente los atributos de un
          objeto.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation"
          ><b>Ejemplo de encapsulamiento en javascript:</b>
        </span>
      </div>

      <img src="../assets/ejemplo3" alt="example" id="visual_example" />

      <div class="topicParagraph">
        <span id="topicInformation">
          Podemos decir que encapsulamiento es una forma de ocultación de
          información entre entidades, mostrándose entre ellas solo la
          información más necesaria.
        </span>
      </div>
    </div>
  </body>
</html>
