<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>
    <title>La modularización</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>La modularización</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          Uno de los principios fundamentales de la programación orientada a
          objetos es la modularidad. Al igual que un motor de un vehículo, los
          programas modernos se componen por distintos componentes que
          interactúan de cierta forma para que todo el sistema de forma
          esperada.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation">
          Es de esperar que cada componente funcione correctamente, por ende, en
          la POO la modularización es usada para la organización de distintos
          componentes de un sistema, los cuales se dividen en unidades
          funcionales separadas.
        </span>
      </div>

      <img src="../assets/asset8.jpg" alt="asset" id="visual_content" />
    </div>
  </body>
</html>
