<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../assets/icon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <title>Paradigma de Programación</title>
  </head>
  <body>
    <navigation-bar></navigation-bar>
    <div class="topicHeader_container">
      <h1>Paradigma de Programación</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation"
          >Un paradigma de programación es una serie de herramientas y técnicas
          que definen la visión general, los pasos a seguir y los métodos que
          van a ser usados por el programador en el desarrollo de un programa o
          subprograma. Existen diferentes paradigmas de programación con
          diferentes maneras de pensar y de abordar los problemas para la
          obtención de una solución óptima. Existen varios paradigmas de
          programación, los cuales son:
        </span>
      </div>

      <ul id="topicInformation_list">
        <li>Imperativo o por procedimientos</li>
        <li>Funcional</li>
        <li>Lógico</li>
        <li>Declarativo</li>
        <li>Programación dinámica</li>
        <li>Orientado a objetos</li>
      </ul>
      <img id="visual_content" src="../assets/asset1.jpg" alt="paradigma" />
    </div>

    <script src="../components/NavBar.js"></script>
  </body>
</html>
