<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>
    <title>Polimorfismo</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>El polimorfismo</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          El polimorfismo consiste en tener un método en una clase padre y poder
          reescribir el método en la clase hija. Esto quiere decir que se tendrá
          el mismo método en ambas clases, pero la clase hija operará diferentes
          acciones.
        </span>
      </div>

      <img src="../assets/ejemplo5" alt="example" id="visual_example" />
    </div>
  </body>
</html>
