<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/topicStyles.css" />
    <script src="../components/NavBar.js" async></script>
    <title>Ventajas de POO</title>
  </head>
  <body>
    <navigation-bar> </navigation-bar>

    <div class="topicHeader_container">
      <h1>Ventajas del uso de POO</h1>
    </div>

    <div class="topicInformation_container">
      <div class="topicParagraph">
        <span id="topicInformation">
          El paradigma POO empieza a brillar en su utilidad cuando el sistema se
          modela de forma análoga a la realidad, ya que así se simplifica el
          diseño en referencia a objetos de la vida real en su funcionamiento.
          Esta analogía ayuda en aclararle a los programadores cuál es el
          respectivo papel que ejerce cada porción del programa y de la
          información, facilitando de gran manera la creación y mantenimiento
          del sistema. Por otra parte, se promueve la reutilización ya que las
          similitudes entre objetos se programan solo una vez de forma abstracta
          y el programador enfoca sus esfuerzos en los detalles restantes.
        </span>
      </div>

      <div class="topicParagraph">
        <span id="topicInformation">
          El paradigma de POO ofrece una gran capacidad de mantenimiento del
          sistema, ya que el software consta de una buena organización y
          protección. De esta manera, un desarrollador puede entender mejor el
          trabajo realizado por otro con un menor riesgo de que sus cambios
          afecten el trabajo de los demás. Por otra parte, se mejora el
          desarrollo del software de gran escala.
        </span>
      </div>

      <img src="../assets/asset7.png" alt="asset" id="visual_content" />
    </div>
  </body>
</html>
