.form_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 0.3rem;
  margin: 1.6rem 0 0 0;
  padding: 1rem 1rem 1.5rem 1rem;
}

/* contenedor de una entrada del formulario */
.formEntry {
  width: max-content;
  margin: 1.2rem 0.6rem 0 0;
}

/* label del form */
#form_label {
  font-size: 1.3rem;
  font-weight: 700;
}

/* input del form */
#form_input {
  position: relative;
  height: 1.5rem;
  padding: 0.4rem;
  width: 9rem;
  border: 3px solid var(--text-color);
  border-radius: 0.3rem;
  background-color: rgba(211, 211, 211, 0.513);
  transition-duration: 0.34s;
  transition-property: transform;
}

#form_input:hover {
  border: 3px solid var(--topic-color);
  transform: translateX(4px) translateY(-4px);
}

#form_input:focus {
  outline: none;
  border: 3px solid var(--topic-color);
}

/* boton del form */
#form_submit {
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 3px solid var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: border 0.4s, color 0s, background-color 0.4s;
  cursor: pointer;
}

#form_submit:active {
  background-color: var(--topic-color);
  color: var(--topic-color);
}

#form_submit:focus {
  outline: none;
}

#form_submit:hover {
  border: 3px solid var(--topic-color);
  background-color: var(--yellow-color);
}

/* output del formulario */

.form_output {
  background-color: var(--text-color);
  border-radius: 0.4rem;
  margin: 1rem auto;
  padding: 1rem 5rem;
  width: max-content;
}

.class_container {
  background-color: white;
  border-radius: 0.4rem;
  text-align: left;
  width: max-content;
  margin: 0 auto;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  font-size: 1.3rem;
  transition-duration: 0.4s;
  transition-property: transform;
  cursor: default;
}

.class_container:hover {
  transform: translateX(-5px) translateY(-5px);
}

.item_container {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.5rem;
}

#item {
  margin: 0.3rem 0;
}
